{% extends 'core/base.html' %}
{% load static %}

{% block title %}Blog |{% endblock  %}

{% block content %}

	<!-- Title page -->
	<section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url({% static 'core/images/bg-02.jpg' %});">
		<h2 class="ltext-105 cl0 txt-center">
			Blog
		</h2>
	</section>	


	<!-- Content page -->
	<section class="bg0 p-t-62 p-b-60">
		<div class="container c">
			<div class="row">
				<div class="col-md-9 col-lg-9 p-b-80">
				{% block post_content %}
				
				{% endblock  %}
					
				</div>

				<div class="col-md-3 col-lg-3 p-b-80">
					<div class="side-menu">
						<div class="bor17 of-hidden pos-relative">
						<form method="get">
							<input class="stext-103 cl2 plh4 size-116 p-l-28 p-r-55" type="text" name="search" placeholder="Search Post">

								<button type="submit" class="flex-c-m size-122 ab-t-r fs-18 cl4 hov-cl1 trans-04">
									<i class="zmdi zmdi-search"></i>
								</button>
						</form>
							
						</div>

						<div class="p-t-45">
							<h4 class="mtext-112 cl2 p-b-23">
								Categories
							</h4>

							<ul>
							{% for cat in category  %}
								<li class="bor18">
									<a href="#" class="dis-block stext-115 cl6 hov-cl1 trans-04 p-tb-5 p-lr-4">
										{{cat.name}}
									</a>
								</li>
							{% endfor %}
							
							</ul>
						</div>

						<div class="p-t-65">
							<h4 class="mtext-112 cl2 p-b-33">
								Featured Products
							</h4>

							<ul>
                            {% for pro in get_product_prom  %}
                            	<li class="flex-w flex-t p-b-30">
									<a href="#" class="wrao-pic-w size-214 hov-ovelay1 m-r-20">
										<img src="{{pro.image.url}}" alt="PRODUCT"  width="90" >
									</a>

									<div class="size-215 flex-col-t p-t-8">
										<a href="#" class="stext-116 cl8 hov-cl1 trans-04">
											{{pro.name}}
										</a>

										<span class="stext-116 cl6 p-t-20">
											${{pro.price}}
										</span>
									</div>
								</li>
                            
                            {% endfor %}
							
							</ul>
						</div>

						<div class="p-t-55">
							<h4 class="mtext-112 cl2 p-b-20">
								Archive
							</h4>

							<ul>
								{% for m in per_month  %}
									<li class="p-b-7">
											<a href="#" class="flex-w flex-sb-m stext-115 cl6 hov-cl1 trans-04 p-tb-2">
												<span>
													{{m.month|date:"F"}}
												</span>

												<span>
													{{m.experiments}}
												</span>
											</a>
									</li>
								{% endfor %}
							
							</ul>
						</div>

						<div class="p-t-50">
							<h4 class="mtext-112 cl2 p-b-27">
								Tags
							</h4>

							<div class="flex-w m-r--5">
							{% for pro in pro %}
								<a href="#" class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-8 hov-tag1 trans-04 m-r-3 m-b-5">
									{{pro.category}}
								</a>
							{% endfor %}
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>	

{% endblock %}	
		

