{% extends 'blog/baseblog.html' %}

{% block post_content %}
	<div class="p-r-45 p-r-0-lg">
						<!-- item blog -->
						{% if post %}
							{% for post in post  %}
								<div class="p-b-63">
									<a href="blog-detail.html" class="hov-img0 how-pos5-parent">
										<img src="{{post.imagen}}" alt="IMG-BLOG">

										<div class="flex-col-c-m size-123 bg9 how-pos5">
											<span class="ltext-107 cl2 txt-center">
													{{post.created|date:"d"}}
											</span>

											<span class="stext-109 cl3 txt-center">
												{{post.created|date:"M, Y"}}<!-- add |upper -->
											</span>
										</div>
									</a>

									<div class="p-t-32">
										<h4 class="p-b-15">
											<a href="{% url 'detail_post' post.slug %}" class="ltext-108 cl2 hov-cl1 trans-04">
												{{post.title}}
											</a>
										</h4>

										<p class="stext-117 cl6">
											{{post.description}}
										</p>

										<div class="flex-w flex-sb-m p-t-18">
											<span class="flex-w flex-m stext-111 cl2 p-r-30 m-tb-10">
												<span>
													<span class="cl4">By: {{post.author}}</span> 
													<span class="cl12 m-l-4 m-r-6">|</span>
												</span>

												<span>
												{% for category in post.category.all  %}
													{{category.name}}{% if not forloop.last %}, {% endif %}
												{% endfor %}
													
													<span class="cl12 m-l-4 m-r-6">|</span>
												</span>

												<span>
													8 Comments
												</span>
											</span>

											<a href="{% url 'detail_post' post.slug %}" class="stext-101 cl2 hov-cl1 trans-04 m-tb-10">
												Continue Reading

												<i class="fa fa-long-arrow-right m-l-9"></i>
											</a>
										</div>
									</div>
								</div>
							{% endfor %}
								<!-- Pagination -->
							<div class="flex-l-m flex-w w-full p-t-10 m-lr-7 justify-content-center">
								<a href="#" class="flex-c-m how-pagination1 trans-04 ">
									<<
								</a>
								<a href="#" class="flex-c-m how-pagination1 trans-04  active-pagination1">
									1
								</a>

								<a href="#" class="flex-c-m how-pagination1 trans-04 ">
									2
								</a>
								
								<a href="#" class="flex-c-m how-pagination1 trans-04 ">
									>>
								</a>
							</div>
						
						{% else %}
							<div class="p-b-63">
									<div class="p-t-32">
										<h2>
											No Existen posts..
										</h2>
									</div>
								</div>
						{% endif %}
					

						
				</div>
{% endblock %}
