<!DOCTYPE html>
<html lang="en">
<head>
	<title>Home</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	{% load static %}
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="images/icons/favicon.png"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'core/vendor/bootstrap/css/bootstrap.min.css'  %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'core/fonts/font-awesome-4.7.0/css/font-awesome.min.css'  %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'core/fonts/iconic/css/material-design-iconic-font.min.css'  %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'core/fonts/linearicons-v1.0.0/icon-font.min.css'  %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'core/vendor/animate/animate.css'  %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'core/vendor/css-hamburgers/hamburgers.min.css'  %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'core/vendor/animsition/css/animsition.min.css'  %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'core/vendor/select2/select2.min.css'  %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'core/vendor/daterangepicker/daterangepicker.css'  %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'core/vendor/slick/slick.css'  %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'core/vendor/MagnificPopup/magnific-popup.css'  %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'core/vendor/perfect-scrollbar/perfect-scrollbar.css'  %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'core/css/util.css'  %}">
	<link rel="stylesheet" type="text/css" href="{% static 'core/css/main.css'  %}">
	<link rel="stylesheet" type="text/css" href="{% static 'core/css/css.css'  %}">
<!--===============================================================================================-->
</head>
<body class="animsition">
		<!-- Header -->
	<header class="header-v3">
		<!-- Header desktop -->
		<div class="container-menu-desktop trans-03">
			<div class="wrap-menu-desktop">
				<nav class="limiter-menu-desktop p-l-45">
					
					<!-- Logo desktop -->		
					<a href="#" class="logo">
						<img src="{% static 'core/images/icons/logo-02.png' %}" alt="IMG-LOGO">
					</a>

					<!-- Icon header -->
					<div class="wrap-icon-header flex-w flex-r-m h-full">							
						<div class="flex-c-m h-full p-r-55 bor6">
							<!-- Menu desktop -->
							<div class="menu-desktop">
								<ul class="main-menu">
									<li>
										<a href=" {% url 'home' %}">Home</a>
									</li>

									<li>
										<a href="{% url 'blog' %}">Blog</a>
									</li>

									<li>
										<a href="{% url 'about' %}">About</a>
									</li>

									<li>
										<a href="{% url 'contact' %}">Contact</a>
									</li>
								</ul>
							</div>		
						</div>
					
					</div>
				</nav>
			</div>	
		</div>

		<!-- Header Mobile -->
		<div class="wrap-header-mobile">
			<!-- Logo moblie -->		
			<div class="logo-mobile">
				<a href="index.html"><img src="images/icons/logo-01.png" alt="IMG-LOGO"></a>
			</div>

			<!-- Icon header -->
			<div class="wrap-icon-header flex-w flex-r-m h-full m-r-15">
				<div class="flex-c-m h-full p-r-5">
					<div class="icon-header-item cl2 hov-cl1 trans-04 p-lr-11 icon-header-noti js-show-cart" data-notify="2">
						<i class="zmdi zmdi-shopping-cart"></i>
					</div>
				</div>
			</div>

			<!-- Button show menu -->
			<div class="btn-show-menu-mobile hamburger hamburger--squeeze">
				<span class="hamburger-box">
					<span class="hamburger-inner"></span>
				</span>
			</div>
		</div>


		<!-- Menu Mobile -->
		<div class="menu-mobile">
			<ul class="main-menu-m">
				<li>
					<a href="index.html">Home</a>
					<ul class="sub-menu-m">
						<li><a href="index.html">Homepage 1</a></li>
						<li><a href="home-02.html">Homepage 2</a></li>
						<li><a href="home-03.html">Homepage 3</a></li>
					</ul>
					<span class="arrow-main-menu-m">
						<i class="fa fa-angle-right" aria-hidden="true"></i>
					</span>
				</li>

				<li>
					<a href="product.html">Shop</a>
				</li>

				<li>
					<a href="shoping-cart.html" class="label1 rs1" data-label1="hot">Features</a>
				</li>

				<li>
					<a href="blog.html">Blog</a>
				</li>

				<li>
					<a href="about.html">About</a>
				</li>

				<li>
					<a href="contact.html">Contact</a>
				</li>
			</ul>
		</div>

		<!-- Modal Search -->
		<div class="modal-search-header flex-c-m trans-04 js-hide-modal-search">
			<button class="flex-c-m btn-hide-modal-search trans-04">
				<i class="zmdi zmdi-close"></i>
			</button>

			<form class="container-search-header">
				<div class="wrap-search-header">
					<input class="plh0" type="text" name="search" placeholder="Search...">

					<button class="flex-c-m trans-04">
						<i class="zmdi zmdi-search"></i>
					</button>
				</div>
			</form>
		</div>
	</header>


	{% block content %}
	{% endblock %}


	<!-- Footer -->
	<footer class="bg3 p-t-75 p-b-55">
		<div class="container ">
			{% for info in info  %}
				<div class="row">
					<div class="col-sm-6 col-lg-6 p-b-50  ">
						<h4 class="stext-301 cl0 p-b-30">
							Story
						</h4>

						<p class="p-r-20">{{info.story}}</p>
					</div>


					<div class="col-sm-6 col-lg-6 p-b-50 ">
						<h4 class="stext-301 cl0 p-b-30">
							Locate us
						</h4>

						<p class="p-b-40">
							Any questions? Let us know in store at 8th floor,{{info.address}}, {{info.phone}}
						</p>

						<form class="form-inline">
							<div class="row">
								<div class="col-sm-10 col-md-10 col-lg-10">
									<div class="wrap-input1 w-full">
										<input class="input1 bg-none plh1 stext-107 cl7 p-t-10" type="text" name="email" placeholder="email@example.com">
										<div class="focus-input1 trans-04"></div>
									</div>
								</div>
								<div class="col-md-2 col-lg-2 ">
									
										<button class="flex-c-m stext-101 cl0 size-103 bg1 bor1 hov-btn2  p-lr-15 trans-04">
											Subscribe
										</button>
								
									
								</div>
							</div>
							
							
							
						</form>
					</div>
				</div>

			<div class="p-t-40">
				<div class="flex-c-m flex-w p-b-18">
						<a href="{{info.facebook}}" target="_blank" class="fs-36 cl7 hov-cl1 trans-04 m-r-20">
							<i class="fa fa-facebook-square"></i>
						</a>

						<a href="{{info.instagram}}" target="_blank" class="fs-36 cl7 hov-cl1 trans-04 m-r-20">
							<i class="fa fa-instagram"></i>
						</a>

						<a href="{{info.twitter}}" target="_blank" class="fs-36 cl7 hov-cl1 trans-04 m-r-20">
							<i class="fa fa-twitter"></i>
						</a>
						<a href="{{info.youtube}}" target="_blank" class="fs-36 cl7 hov-cl1 trans-04 m-r-20">
							<i class="fa fa-youtube-play"></i>
						</a>
						<a href="{{info.github}}" target="_blank" class="fs-36 cl7 hov-cl1 trans-04 m-r-20">
							<i class="fa fa-github"></i>
						</a>
				</div>

				<p class="stext-107 cl6 txt-center">
					<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
				Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
				<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->

				</p>
			</div>
			{% endfor %}
			
		</div>
	</footer>


	<!-- Back to top -->
	<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="zmdi zmdi-chevron-up"></i>
		</span>
	</div>




<!--===============================================================================================-->	
	<script src="{% static 'core/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'core/vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'core/vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'core/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'core/vendor/select2/select2.min.js' %}"></script>
	<script>
		$(".js-select2").each(function(){
			$(this).select2({
				minimumResultsForSearch: 20,
				dropdownParent: $(this).next('.dropDownSelect2')
			});
		})
	</script>
<!--===============================================================================================-->
	<script src="{% static 'core/vendor/daterangepicker/moment.min.js' %}"></script>
	<script src="{% static 'core/vendor/daterangepicker/daterangepicker.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'core/vendor/slick/slick.min.js' %}"></script>
	<script src="{% static 'core/js/slick-custom.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'core/vendor/parallax100/parallax100.js' %}"></script>
	<script>
        $('.parallax100').parallax100();
	</script>
<!--===============================================================================================-->
	<script src="{% static 'core/vendor/MagnificPopup/jquery.magnific-popup.min.js' %}"></script>
	<script>
		$('.gallery-lb').each(function() { // the containers for all your galleries
			$(this).magnificPopup({
		        delegate: 'a', // the selector for gallery item
		        type: 'image',
		        gallery: {
		        	enabled:true
		        },
		        mainClass: 'mfp-fade'
		    });
		});
	</script>
<!--===============================================================================================-->
	<script src="{% static 'core/vendor/isotope/isotope.pkgd.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'core/vendor/sweetalert/sweetalert.min.js' %}"></script>
	<script>
		$('.js-addwish-b2').on('click', function(e){
			e.preventDefault();
		});

		$('.js-addwish-b2').each(function(){
			var nameProduct = $(this).parent().parent().find('.js-name-b2').html();
			$(this).on('click', function(){
				swal(nameProduct, "is added to wishlist !", "success");

				$(this).addClass('js-addedwish-b2');
				$(this).off('click');
			});
		});

		$('.js-addwish-detail').each(function(){
			var nameProduct = $(this).parent().parent().parent().find('.js-name-detail').html();

			$(this).on('click', function(){
				swal(nameProduct, "is added to wishlist !", "success");

				$(this).addClass('js-addedwish-detail');
				$(this).off('click');
			});
		});

		/*---------------------------------------------*/

		$('.js-addcart-detail').each(function(){
			var nameProduct = $(this).parent().parent().parent().parent().find('.js-name-detail').html();
			$(this).on('click', function(){
				swal(nameProduct, "is added to cart !", "success");
			});
		});
	
	</script>
<!--===============================================================================================-->
	<script src="{% static 'core/vendor/perfect-scrollbar/perfect-scrollbar.min.js' %}"></script>
	<script>
		$('.js-pscroll').each(function(){
			$(this).css('position','relative');
			$(this).css('overflow','hidden');
			var ps = new PerfectScrollbar(this, {
				wheelSpeed: 1,
				scrollingThreshold: 1000,
				wheelPropagation: false,
			});

			$(window).on('resize', function(){
				ps.update();
			})
		});
	</script>

<!--===============================================================================================-->
	<script src="{% static 'core/js/main.js' %}"></script>

</body>
</html>